{% extends "extends/base.html" %}
{% block title %}Подписки{% endblock %}
{% block header %}Ваши подписки:{% endblock %}
{% load cache %}
{% cache 20 sidefol %}
  {% block content %}
    <div class="container">
      {% include 'include/menu.html' with follow=True %}
      <div class="container">
        {% for post in page %}
          {% include 'include/post.html' with post=post %}
        {% endfor %}
      </div>
    </div>
  {% include "include/paginator.html" %}
  {% endblock %}
{% endcache %}