{% extends "extends/base.html" %}
{% block title %}Записи сообщества {{ group.title }}{% endblock %}
{% block header %}Записи группы:{% endblock %}
{% block content %}
<main role="main" class="container">
  <h1>{{ group.title }}</h1>
  <p>{{ group.description|linebreaksbr }}</p>
  <div class="row">
    <!-- <div class="col-md-9">
      <div class="card">
        <div class="card-body">
          <div class="h3">
            <h1>{{ group.title }}</h1>
          </div>
          <div class="h5 text-muted">
            <p>{{ group.description|linebreaksbr }}</p>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="h6 text-muted">
              Подписчиков: XXX <br />
            </div>
          </li>
          <li class="list-group-item">
            <div class="h6 text-muted">
              Записей: {{ group.posts.all|length }}
            </div>
          </li>
        </ul>
      </div>
    </div> -->

    <div class="col-md-9">
      <div class="container">
        {% for post in page %}
          {% include 'include/post.html' with post=post %}
        {% endfor %}
      </div>
    </div>
  </div>
</main>

{% include 'include/paginator.html' %}

{% endblock %}
